*,::after,::before{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    background-color: #2ecc71 ;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
    /* transform-origin: all 0.5s ease-in-out; */
}
input{
    font-size: 10em;
    width: 200px;
    text-align: center;
    border: none;
    border-radius: 15%;
    background-color: rgba(255, 255, 255, 0.311);
    color: white;
    outline: none;
    padding: 20px;
}
.error{
    background-color: #e74d3cd3;
    border: 2px solid  #e74d3cd3;
}
.victoire{
    background-color: #00ff6a;
}
.resultats{
    color: white;
    position: relative;
    top: -40%;
    left: 190px;
    font-size: 4em;
}
.fa-check-circle{
    color: white;
    font-size: 10em;
    /* border: 2px inset; */
    border-radius: 50%;
    padding: 10px;
    /* background-color: rgb(8, 176, 143); */
    display: none;
}